form{
	margin: 0;
}
body{
	background: #333;
	margin: 0;
	padding: 0;
}
#hdAuthToken{
	display: none;	
}

.mainWrap{
	height: 92%;
	width: 95%;
	background: rgba(155,155,155, .4);
	margin: 2%;
	position: relative;
	overflow: hidden;
}
.menuItem {
	background: rgba(0, 0, 0, .7);
	opacity: .5;
	color: white;
	display: block;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.hd_folderitem {
	color: white;
	font-size: 14pt;
}

.hd_showheader {
	color: white;
	font-size: 16pt;
	font-weight: bold;
}

.hd_fileitem {
	padding-left: 4px;
	display: block;
	float: left;
	font-size: 14pt;
	color: white;
	text-decoration: none;
	padding-top: 4px;
}

.hd_firstfileitem {
	clear: left;
}

.hd_fileitem2 {
	padding-top: 4px;
	padding-left: 4px;
	display: block;
	float: left;
	font-size: 14pt;
	color: lightgray;
	text-decoration: none;
}

.menuButton {
	background: rgba(0, 0, 255, .2);
	opacity: .5;
	color: white;
	display: block;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
}

.leftbarstyle[switchstate="closed"]>.menuItem {
	display: none;
}
#hdMainContent{
	widht: 100%;
	height: 100%;
}
/**** left bar *****/
.leftbarstyle {
	overflow: hidden;
	width: 150px;
	max-height: 80%;
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, .7);
	top: 0;
	left: 0;
	margin: 10px;
	min-height: 40px;
	border-radius: 10px;
	-webkit-transition: all .4s ease-in-out;
}
.leftbarstyle[switchstate="open"]{
	height: 100px;
}

#hdFile,#hdImage {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0!important;
	position: relative;
	z-index: 5;
	top: 0%;
	-webkit-transition: all .4s ease-in-out;
	overflow-y: scroll;
}

#hdFile[switchstate="close"],#hdImage[switchstate="close"] {
	background: black;
	opacity: 0;
	height: 0;
}

#hdFile[switchstate="open"],#hdImage[switchstate="open"] {
	background: white;
	opacity: 1;
}

.messageBoxStyle[switchstate="close"]{
	top: 100%;
	height: 0%;
	opacity: 0;
}

.messageBoxStyle[switchstate="open"]{
	top: 68%;
	height: 33%;
	opacity: 1;
}

.messageBoxStyle{
	overflow: hidden;
//	position: relative;
	position: absolute;
	//top: -33%;
	height: 33%;
	width: 100%;
	background: rgba(0,0,0,.5);
	//padding: 5px;
	-webkit-transition: all .4s ease-in-out;
	overflow-y: scroll;
}

.markerTitle{
	border-bottom: 2px dashed #eee;
	font-weight: bold;
	text-align: center;
}

.markerButton {
	background: rgba(128, 128, 128, .5);
	opacity: .5;
	color: #333;
	border: 1px solid #333;
	display: block;
	width: 75%;
	text-align: center;
	border-radius: 10px;
	padding: 5px 0px;
	overflow: hidden;
	margin: 4px auto;
}

.fileList {
  -webkit-transform: translate3d(0,0,0);
	float: left;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}