form{
	margin: 0;
}
body{
	background: #333;
	margin: 0;
}
.mainWrap{
	height: 95%;
	width: 95%;
	background: rgba(155,155,155, .4);
	margin: 2%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
.menuItem {
	background: rgba(0, 0, 0, .7);
	opacity: .5;
	color: white;
	display: block;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
.hd_maplink {
	display: inline-block;
	font-size: 12pt;
	border: 1px solid gray;
	background: #999;
	border-radius: 10px;
	padding: 4px;
	margin-top: 8px;
}
.hd_folderitem {
	color: white;
	font-size: 14pt;
}

.hd_showheader {
	color: white;
	font-size: 16pt;
	font-weight: bold;
}

.hd_fileitem {
	padding-left: 4px;
	display: block;
	float: left;
	font-size: 14pt;
	color: white;
	text-decoration: none;
	padding-top: 4px;
}

.hd_firstfileitem {
	clear: left;
}

.hd_fileitem2 {
	padding-top: 4px;
	padding-left: 4px;
	display: block;
	float: left;
	font-size: 14pt;
	color: gray;
	text-decoration: none;
}

.menuButton {
	background: rgba(0, 0, 128, .7);
	opacity: .5;
	color: white;
	display: block;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
}

.leftbarstyle[switchstate="closed"]>.menuItem {
	display: none;
}

/**** left bar *****/
.leftbarstyle {
	overflow: hidden;
	width: 150px;
	max-height: 80%;
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, .7);
	top: 0;
	left: 0;
	margin: 10px;
	min-height: 40px;
	border-radius: 10px;
	-webkit-transition: all .4s ease-in-out;
}
.leftbarstyle[switchstate="open"]{
	height: 200px;
}

#hdFile {
	opacity: .5;
	background: rgba(0,0,0,.5);
	min-height: 40px;
	max-height: 80%;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	-webkit-transition: all .4s ease-in-out;
}
#hdFile[switchstate="close"]{
	height: 0;
}

#hdFile[switchstate="open"]{
	height: 33%;
	display: block;
}

.rightBarStyle{

}
.topbarstyle {
	display: none;
  position: absolute;
  top: 0;
	z-index: 1;
	height: 100px;
	width: 100%;
	background: rgba(155,155,200, .4);
	
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.messageBoxStyle[switchstate="open"]{
	height: 33%;
	background: rgba(0,0,0,.75);
	opacity: .85;
}

.messageBoxStyle{
	height: 0%;
	position: absolute;
	bottom: 0px;
	width: 100%;
	opacity: .5;
	background: rgba(0,0,0,.5);
	padding: 5px;
	border-top-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	-webkit-transition: all .4s ease-in-out;
}